body{
    margin: 0;
}
.top-banner-background{
    display: block;
    top: 0;
    background-image: linear-gradient(90deg, #0069aa 50%, #3399d9 50%);
    height: 100px;
}
#top-banner{
    top: 0;
    display: block;
    margin: auto;
    height: 100px;
}
.headbar{
    display: block;
    background-color: #eee;
    border-bottom: 1px solid lightgrey;
}
.headbar-content{
    display: block;
    margin: auto;
    width: 1024px;
    padding: 7px;
}
.home{
    display: inline-block;
    font-family: 'Baloo Paaji 2', cursive;
    font-weight: bolder;
    font-size: large;
}
.main-pages{
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: medium;
}
.main-pages>a{
    color: gray;
    text-decoration: none;
}
.main-pages>a:hover{
    color: #0099F7;
}
.profile{
    float: right;
    text-align: right;
    padding: 7px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.profile>a{
    text-decoration: none;
    padding-left: 20px;
    color: gray;
}
.profile>a:hover{
    color: #0099F7;
}
.main{
    display: block;
}
.main-container{
    display: flex;
    width: 1024px;
    height: max-content;
    margin: auto;
}
.navigation-col{
    width: 20%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.navigation-back{
    font-size: medium;
    margin: 25px 0 25px 15px;
}
.navigation-back>a>i{
    color: #0099F7;
    padding-right: 10px;
    font-size: x-large;
}
.navigation-back>a{
    text-decoration: none;
    color: gray;
}
.navigation-back>a:hover{
    color: #0099F7;
}
.navigation-menu{
    display: flex;
    flex-direction: column;
    font: inherit;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.navigation-menu>a{
    padding: 25px 0 25px 20px;
    text-decoration: none;
    color: black;
}
.navigation-menu>a:hover{
    color: whitesmoke;
    background-color: #0099F7;
}
.lesson-col{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.lesson-path{
    font-family: 'Open Sans', sans-serif;
    font-size: small;
    padding: 30px 0 10px 30px;
}
.lesson-path>a{
    text-decoration: none;
    color: black;
}
.lesson-path>a:active{
    color: #0099F7;
}
.lesson-title{
    display: block;
    margin-left: 50%;
}
h3{
    font-family: 'Open Sans', sans-serif;
}
.lesson-blocks{
    display: flex;
    align-items: center;
}
.game-1{
    display: flex;
    flex-direction: column;
    margin: 70px 0 0 50px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.game-1>a:first-child{
    border: 5px solid #33cccc;
    border-radius: 10px;
}
.game-1>a{
    text-decoration: none;
    color: black;
}
.game-1>a:last-child{
    padding-top: 20px;
}
.game-1:hover>a{
    color: #0099F7;
}
.game-2{
    display: flex;
    flex-direction: column;
    margin: 70px 0 0 50px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}
.game-2>a{
    text-decoration: none;
    color: black;
}
.game-2>a:first-child{
    border: 5px solid #33cccc;
    border-radius: 10px;
}
.game-2>a:last-child{
    padding-top: 20px;
}
.game-2:hover>a{
    color: #0099F7;
}
